{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": true
        },
        "modules": "commonjs",
        "loose": true,
        "useBuiltIns": "usage",
        "useESModules": true
      }
    ],
    "stage-0"
  ],
  "plugins": [
    "transform-decorators",
    "transform-flow-strip-types"
  ]
}
